<mat-form-field class="duration">
    <mat-label>Anzeigedauer in Minuten</mat-label>
    <input matInput type="number" min=0 max=720 [(ngModel)]="duration">
</mat-form-field>

<div class="departures">
<h2>
    Abfahrten 
    @if (platformData !== undefined) {
        in {{platformData.name}}
    }
</h2>
<table mat-table [dataSource]="departureData">

    <ng-container matColumnDef="departureTime">
        <th mat-header-cell *matHeaderCellDef> 
            Abfahrt
        </th>
        <td mat-cell *matCellDef="let element" [class.cancelled]="element.cancelled"> 
            @if(element.cancelled) {
                {{element.plannedWhen | date:'dd.MM.yy'}}
                <br>
                <div class="departureTime">
                    {{element.plannedWhen | date:'\'um \'HH:mm'}}
                </div> 
            } @else {
                {{element.when | date:'dd.MM.yy'}}
                <br>
                <div class="departureTime">
                    {{element.when | date:'\'um \'HH:mm'}}
                </div> 
            }
        </td>
    </ng-container>
    <ng-container matColumnDef="line">
        <th mat-header-cell *matHeaderCellDef> 
            Zug / Linie 
        </th>
        <td mat-cell *matCellDef="let element"> 
            {{element.line.name}}
            <br>
            {{element.line.productName}} 
        </td>
    </ng-container>
    <ng-container matColumnDef="direction">
        <th mat-header-cell *matHeaderCellDef> 
            Richtung 
        </th>
        <td mat-cell *matCellDef="let element"> 
            {{element.direction}} 
        </td>
    </ng-container>
    <ng-container matColumnDef="station">
        <th mat-header-cell *matHeaderCellDef> 
            Gleis 
        </th>
        <td mat-cell *matCellDef="let element"> 
            {{element.platform}} 
        </td>
    </ng-container>

    <ng-container matColumnDef="delay">
        <th mat-header-cell *matHeaderCellDef> 
            Verspätung
        </th>
        <td mat-cell *matCellDef="let element"  [class]="(element.delay !== null && element.delay > 0)?'delayed':'onTime'"> 
            @if (element.delay !== null && element.delay > 0) {
                + {{element.delay / 60}} Min. 
            } @else if (element.cancelled !== true) {
                pünktlich
            }
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedDepartureColumns"></tr>
    <tr 
        mat-row 
        *matRowDef="let row; columns: displayedDepartureColumns;"
    >
        
    </tr>
</table>
</div>
<div class="arrivals">
    <h2>
        Ankünfte
        @if (platformData !== undefined) {
            in {{platformData.name}}
        }
    </h2>

    <table mat-table [dataSource]="arrivalData">
        <ng-container matColumnDef="arrivalTime">
            <th mat-header-cell *matHeaderCellDef> 
                Ankunft
            </th>
            <td mat-cell *matCellDef="let element" [class.cancelled]="element.cancelled"> 
                @if(element.cancelled) {
                    {{element.plannedWhen | date:'dd.MM.yy'}}
                    <br>
                    <div class="departureTime">
                        {{element.plannedWhen | date:'\'um \'HH:mm'}}
                    </div> 
                } @else {
                    {{element.when | date:'dd.MM.yy'}}
                    <br>
                    <div class="departureTime">
                        {{element.when | date:'\'um \'HH:mm'}}
                    </div> 
                }
            </td>
        </ng-container>
        <ng-container matColumnDef="line">
            <th mat-header-cell *matHeaderCellDef> 
                Zug / Linie 
            </th>
            <td mat-cell *matCellDef="let element"> 
                {{element.line.name}}
                <br>
                {{element.line.productName}} 
            </td>
        </ng-container>
        <ng-container matColumnDef="provenance">
            <th mat-header-cell *matHeaderCellDef> 
                Von 
            </th>
            <td mat-cell *matCellDef="let element"> 
                {{element.provenance}} 
            </td>
        </ng-container>
        <ng-container matColumnDef="station">
            <th mat-header-cell *matHeaderCellDef> 
                Gleis 
            </th>
            <td mat-cell *matCellDef="let element"> 
                {{element.platform}} 
            </td>
        </ng-container>

        <ng-container matColumnDef="delay">
            <th mat-header-cell *matHeaderCellDef> 
                Verspätung
            </th>
            <td mat-cell *matCellDef="let element"  [class]="(element.delay !== null && element.delay > 0)?'delayed':'onTime'"> 
                @if (element.delay !== null && element.delay > 0) {
                    + {{element.delay / 60}} Min. 
                } @else if (element.cancelled !== true){
                    pünktlich
                }
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedArrivalColumns"></tr>
        <tr 
            mat-row 
            *matRowDef="let row; columns: displayedArrivalColumns;"
        >
            
        </tr>
    </table>
</div>