.delayed {
    color: red;
}

.onTime {
    color: green;
}

.departureTime {
    margin-left: 10px;
}

.arrivals {
    margin-top: 50px;
}

.cancelled {
    color: red;
    text-decoration: line-through;
}

.duration {
    width: 100%;
}